<script lang="ts" setup>
import { ref } from "vue";
const input = ref(0);
</script>

<template>
  <v-text-field
    label="Please input number"
    v-model.number="input"
    :rules="[(v) => v.length != 0 || 'Number is not empty!!']"
    required
  ></v-text-field>
  <v-container>
    <v-row>
      <v-col col="12" md="1" v-for="(num, index) of input" :key="index">
        {{ num }}
      </v-col>
    </v-row>
  </v-container>
</template>
