<script lang="ts" setup>
import { ref } from "vue";
let showEmoji = ref("feeling_imgs/smile.png");
let emoji = ref("Smile");
const yellow1 = ref(false);
const yellow2 = ref(false);
const yellow3 = ref(false);
const yellow4 = ref(false);
const yellow5 = ref(false);
const yellow6 = ref(true);

let changeEmoji = (emo: string) => {
  if (emo == "angry") {
    emoji.value = "Angry";
    showEmoji.value = "feeling_imgs/angry.png";
    yellow1.value = !yellow1.value;
    yellow2.value = false;
    yellow3.value = false;
    yellow4.value = false;
    yellow5.value = false;
    yellow6.value = false;
  } else if (emo == "cute") {
    emoji.value = "Cute";
    showEmoji.value = "feeling_imgs/cute.png";
    yellow2.value = !yellow2.value;
    yellow1.value = false;
    yellow3.value = false;
    yellow4.value = false;
    yellow5.value = false;
    yellow6.value = false;
  } else if (emo == "excited") {
    emoji.value = "Excited";
    showEmoji.value = "feeling_imgs/excited.png";
    yellow3.value = !yellow3.value;
    yellow1.value = false;
    yellow2.value = false;
    yellow4.value = false;
    yellow5.value = false;
    yellow6.value = false;
  } else if (emo == "pain") {
    emoji.value = "Pain";
    showEmoji.value = "feeling_imgs/pain.png";
    yellow4.value = !yellow4.value;
    yellow1.value = false;
    yellow2.value = false;
    yellow3.value = false;
    yellow5.value = false;
    yellow6.value = false;
  } else if (emo == "shocked") {
    emoji.value = "Shocked";
    showEmoji.value = "feeling_imgs/shocked.png";
    yellow5.value = !yellow5.value;
    yellow1.value = false;
    yellow2.value = false;
    yellow3.value = false;
    yellow4.value = false;
    yellow6.value = false;
  } else if (emo == "smile") {
    emoji.value = "Smile";
    showEmoji.value = "feeling_imgs/smile.png";
    yellow6.value = !yellow6.value;
    yellow1.value = false;
    yellow2.value = false;
    yellow3.value = false;
    yellow4.value = false;
    yellow5.value = false;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img
          class="bg-white"
          width="400"
          :aspect-ratio="1"
          :src="showEmoji"
        ></v-img>
      </v-col>

      <v-col>
        <div class="txtEmoji">{{ emoji }}</div>
        <v-btn
          class=""
          :class="{ colorBtn: yellow1 }"
          @click="changeEmoji('angry')"
          >ANGRY</v-btn
        >
        <v-btn :class="{ colorBtn: yellow2 }" @click="changeEmoji('cute')"
          >CUTE</v-btn
        >
        <v-btn :class="{ colorBtn: yellow3 }" @click="changeEmoji('excited')"
          >EXCITED</v-btn
        >
        <v-btn :class="{ colorBtn: yellow4 }" @click="changeEmoji('pain')"
          >PAIN</v-btn
        ><v-btn :class="{ colorBtn: yellow5 }" @click="changeEmoji('shocked')"
          >SHOCKED</v-btn
        >
        <v-btn :class="{ colorBtn: yellow6 }" @click="changeEmoji('smile')"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.colorBtn {
  background-color: yellow;
}
button {
  text-align: center;
  width: 600px;
  margin-top: 20px;
}
.txtEmoji {
  text-align: center;
  font-size: 30px;
}
</style>
