<script setup lang="ts">
import { reactive } from "vue";
const state = reactive({
  num1: 0,
  num2: 0,
});

const increase = function () {
  state.num1 = ++state.num1;
  state.num2 = state.num1 * 2;
};

const decrease = function () {
  if (state.num1 != 0) {
    state.num1 = --state.num1;
    state.num2 = --state.num2;
  } else if (state.num1 == 0) {
    state.num1 = 0;
    state.num2 = --state.num2;
  } else if (state.num2 == 0) {
    state.num2 = 0;
  }
};
</script>
<template>
  <v-row>
    <v-col>
      <p>First Component</p>
      <v-lable>{{ state.num1 }}</v-lable>
      <br />
      <v-btn @click="increase()">INCREMENT</v-btn>
    </v-col>
    <v-col>
      <p>Second Component</p>
      <v-lable>{{ state.num2 }}</v-lable>
      <br />
      <v-btn @click="decrease()">DECREASE</v-btn>
    </v-col></v-row
  >
</template>
