<script setup lang="ts">
import { reactive } from "vue";
const state = reactive({
  num1: 0,
  num2: 0,
  
});
const increase = function () {
  state.num1 = ++state.num1;
  state.num2 = state.num1 *2;
};




</script>
<template>
  
        <p>First Component</p>
        <v-lable>{{  state.num1 }}</v-lable>
        <br />
        <v-btn @click="increase()">INCREMENT</v-btn>
      
</template>
